/* Welcome.css */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d6b8bf;
    color: #734747;
  }
  
  .welcome-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .welcome-container p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
